.font-body {
  font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
  font-weight: 400;
}

.font-headline {
  font-family: "Noto Serif", Georgia, serif;
  font-weight: 400;
  color: $colour-font-highlight;
}

.font-subheadline {
  font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}