.l-wrapper {
  @include outer-container;
}

.l-content {
  @include outer-container;
  padding: 15px 0 50px 0;
}

.l-content_block {
  @include span-columns(11 of 12);
  @include shift(0.5);
  margin-top: 20px;

  &:not(:last-child) {
    padding-bottom: 9px;
    border-bottom: 1px solid tint($colour-font, 80%);
  }

  &:first-child {
    margin-top: 40px; 
    padding-bottom: 0px;
    border-bottom: 1px solid $colour-horizontal-rule;
  }

  &:nth-child(2) {
    margin-top: 20px;
  }

  .l-content {
    @include span-columns(7.8 of 8);
    @include shift(0.1);
  }
}